

@media only screen and (max-width: 720px) {

.flex-col-item {position: absolute;
bottom: 0; }

 #avatar {
            width: 100%;
            border-radius: 40px;
            align-items: center;
            text-align: center;}
            
            #body{ position: relative;}


#body-aside {
   
    display: none;
    
    
   }
   #body-content {
    position: relative;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 1px solid var(--border-color);
    
   
    
}

p { background-color:var(--bg-color);
max-width: 100%;
text-align: center;
margin: 5px 5px;
align-items: center;

}

#title-bar {
    display: none;
  
}

#app {
    height: fit-content;
    position: relative;
    max-width:720px;
    bottom: 0;
    display: table;
    overflow: auto;
  
    align-items: center;
    
    
}


#tool-bar {
  height: 70px;
  width: 100%;
  z-index: 10;
  position: fixed;
  bottom: 0px;
  background-color:var(--shadow-bg-color);
  margin-bottom: 0;
  margin:0
  
}

#mobile-app { display: none }


#toggler-layout {
display: none;
}



.divider-vertical { 
display: none } 

 .button-link{
         width: 85%;           
          display: inline-table;
          font-size: 24px;
          border: 3px solid var(--shadow-bg-color);
          align-items: center;
          padding: 20px;
          
          text-align: center;
          } 
          
          
          
  #blocks {
    
    position: relative;
   
    height: 100%;
    width: 100%;
    border: 1px solid var(--border-color);
    
    
    margin-bottom: 75px}}



:root {
    --bg-color: lightcyan;
    --border-color: green;
    --shadow-bg-color: mintcream;
    --shadow-font-color: rgba(0, 0, 0, 0.5);
    --shadow-color: rgba(0, 0, 0, 0.3);
    --link-color: green;
    --link-visited-color: coral
    
}

:root.dark {
    
    --bg-color: #303436;
    --border-color: #fca138;
    --shadow-bg-color: rgb(120,120,120);
    --shadow-color: rgba(255, 255, 255, 0.5);
    --shadow-font-color: rgba(255, 255, 255, 0.5);
    --link-color: aquamarine;
    --link-visited-color: aqua;

    color: mintcream;

}


body {
    background-color: var(--bg-color);
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'arial', san-serif;
    font-style: normal;
    font-size: 20px;
    height: 100%
    
    
}


table, th, td,tb {
 width: 100%;
  padding: 15px;
  text-align: left;
  }
 
 

th {background-color: coral;}

tb, tr:nth-child(odd) {background-color:var(--shadow-bg-color) }
tb {background-color:var(--bg-color); 
}
 




.flex-single-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: nowrap;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.flex-row-item,
.flex-col-item {
    flex: none;
    margin: 2px 2px;
    
}

.flex-rest-item {
    flex: auto
}

.flex-single-row {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-wrap: nowrap;
    
}

.with-border {
    border: 2px solid var(--border-color);
    height: calc(100% - 4px);
}

.divider-vertical {
    height: 80%;
    width: 2px;
    background-color: var(--border-color);
}

.width-control {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -8px;
    width: 8px;
    background-color: transparent;
    transition: all 0.4s;
}

.width-control:hover {
    cursor: ew-resize;
    background-color: var(--shadow-color);
}

.widget {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1em;
}

.widget:last-child {
    margin-bottom: 0;
}

.widget .widget-header {
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    
}

.widget .widget-body {
    margin-left: 0.5em;
    word-break: break-all;
    transition: all 1s;
}

.widget-fold-control {
    display: inline-block;
    margin: 2px;
    padding: 2px;
    transition: all 1s;
}

a:link { 
   color:var(--link-color);
   text-decoration: none;
} 
a:visited { 
   color: var(--link-visited-color)
   }

.button-link,s
.link {
    text-decoration: none;
    color: inherit;
}

.link:hover {
    text-decoration: underline;
}

.button-link:hover {
    background-color: var(--shadow-bg-color);
    box-shadow: 0em 0em 0.5em var(--shadow-color);
}

#app {
    height: 100vh;
    min-width: 400px
    
    
}

#tool-bar {
    
    user-select: none;
    background-color: var(--shadow-bg-color);
    border: 3px solid var(--border-color);
    margin: 0;
    
}

#other-tool .iconfont,
#nav-tool .iconfont {
    font-size: 22px;
    cursor: pointer;
}

#other-tool .iconfont:hover,
#nav-tool .iconfont:hover {
    border-radius: 0.5em;
    background-color: var(--shadow-bg-color);
    box-shadow: 0em 0em 0.5em var(--shadow-color);
}

#search-tool #search-input {
    background: none;
    outline: none;
    border: none;
    width: 2em;
    transition: all 0.3s;
    color: inherit;
}

#search-tool #search-input:focus {
    width: 16em;
}

#title-bar {
    height: 32px;
    width: 100%;
    min-width:720px;
    user-select: none;
    background-color: #00bd7eff;
    overflow: hidden;
}

#main-body {
    position: relative;
    align-items: center;
   
}

#search-result {
    position: fixed;
    top: 72px;
    left: 0;
    right: -1em;
    bottom: 0;
    z-index: -1;
}

.layout-reading #search-result {
    top: 36px;
}

#search-result.active {
    right: 0;
    z-index: 99;
}

#search-result #search-result-mask {
    background-color: transparent;
    transition: all 1s;
}

#search-result.active #search-result-mask {
    background-color: rgba(0, 0, 0, 0.6);
}

#search-result #search-result-content {
    width: 0px;
    transition: all 1s;
    background-color: var(--bg-color);
}

#search-result.active #search-result-content {
    width: 360px;
}

#search-result #result-mask-divider {
    display: none;
}

#search-result.active #result-mask-divider {
    display: block;
}

.result-entry .entry-title {
    text-decoration: none;
    font-size: 22px;
    margin: 0.25em 0;
    color: inherit;
}

.result-entry .entry-title:hover {
    text-decoration: underline;
}

.result-entry .entry-tags {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
}

.result-entry .entry-tags .entry-tag {
    color: var(--shadow-font-color);
    margin-right: 0.25em;
}

.result-entry .entry-tags .entry-tag::before {
    content: '#';
    color: var(--shadow-font-color);
}

.layout-reading #body-aside,
.layout-reading #body-aside-divider,
.layout-reading #title-bar {
    display: none;
}

#body-aside {
    min-width: 240px;
    max-width: 480px;
    position: relative;
    
}




#widgets {
    position: absolute;
    inset: 20px;
    overflow: auto;
}

#body-content {
    position: relative;
    width: 100%;
    
    align-items: center;
    
}

p { background-color:var(--bg-color);
text-align: center



}
  #blocks {
    
    position: relative;
    inset: 0;
    height: 100%;
    
    overflow: auto;
    
    align-items: center;
    
    margin-bottom: 75px }}

  
}




/* 自定义滚动条 */
/* 整体部分，定义尺寸、背景 */
::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    background-color: transparent;
}
/* 滚动条轨道 */
::-webkit-scrollbar-track{
    background-color: transparent;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0);
}
*:hover::-webkit-scrollbar-thumb {
    background-color: var(--shadow-color);
}
